{% extends 'base/base.html' %}
{% block title %}{{ title }}{% endblock %}

{% block content %}
<h4 style="color:lightgreen; ">Billing Details</h4>
<form align='center' method="POST">
    {% csrf_token %}
    <div class="form-registration">
        <div class="row">
            <div class="col-1g-12">
                {{form}}
                <input type="number" class="m-2" value="{{total}}" readonly><br>
                <input type="submit" value="place order" />
            </div>
        </div>
    </div>
</form>
{% endblock %}