{% extends 'base/base.html' %}
{% load static %}

{% block title %}Pet list{%endblock %}
{% block content %}
<div class="container">
    <h4 style="text-align:center;margin-top: 20px;margin-bottom: 20px;">PETS</h4>
    <div class="row">
        {% for obj in object_list %}
        <div class="col-md-3">
            <div class="card" style="cursor: pointer;">
                <div class="card-body">
                    <a href="{{ obj.slug}}/">
                        <img height="200px" class="card-img-top" src="{{ obj.image.url }}" alt="image">
                        <p class=" card-text">{{obj.description}}</p>
                        <p>Price<b>: $&nbsp;{{obj.price}}</b></p>
                    </a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock content %}